/* Font */
:root {
  --font-size-head-large: 35px;
  --font-size-head-medium: 25px;
  --font-size-head-small: 20px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 12px;

  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

/* Colors */
:root {
  --primary-color-org: #ffa63d;
  --primary-color-org-light: #ffefdb;

  --font-color-dark: #2d2d2d;
  --font-color-light: #5d5d5d;

  --color-white: #ffffff;
  --color-gray-light: #f7f5f4;
  --color-gray-white: #f5f6f8;
  --color-rose: #B06264;
  --color-green: #0AA949;
  --color-purple: #8C89FC;

  --bg-gray-light: #dcdcdc;
  --bg-coral-light: #ffc2af;
  --bg-green-light: #d5eadd;
  --bg-purple-light: #F2F4FF;

  --mask-color-20: rgba(0, 0, 0, 0.2);

  /* Gradient */
  --primary-color-gra-start: #ff7831;
  --primary-color-gra-end: #ffdc78;
}

body {
  font-size: var(--font-size-medium);
  color: var(--font-color-dark);
}