/* Font */
:root {
  --font-size-head-extraLarge: 50px;
  --font-size-head-large: 35px;
  --font-size-head-medium: 25px;
  --font-size-head-small: 20px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 12px;

  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

/* Colors */
:root {
  --primary-color-org: #ffa63d;
  --primary-color-org-light: #ffefdb;

  --font-color-dark: #2d2d2d;
  --font-color-light: #5d5d5d;

  --color-white: #ffffff;
  --color-gray-light: #f7f5f4;
  --color-gray-white: #f5f6f8;
  --color-rose: #b06264;
  --color-green: #0aa949;
  --color-purple: #8c89fc;

  --bg-gray-light: #dcdcdc;
  --bg-coral-light: #ffc2af;
  --bg-green-light: #d5eadd;
  --bg-purple-light: #f2f4ff;

  --mask-color-20: rgba(0, 0, 0, 0.2);

  /* Chat Colors */
  --color-chat-yellow: #ffeb3b;
  --color-chat-orange: #ff731d;
  --color-chat-gray: #a19791;
  --color-chat-bg: #dadada;

  /* Gradient */
  --primary-color-gra-start: #ff7831;
  --primary-color-gra-end: #ffdc78;
}

/* Width */
:root {
  --max-width: 1200px;
  --button-width-large: 300px;
  --button-width-medium: 150px;
  --button-width-small: 100px;
}

body {
  font-size: var(--font-size-medium);
  color: var(--font-color-dark);
  margin: 0 auto;
}

main {
  /* 헤더 높이만큼 */
  padding-top: 120px;
}

main.no-padding {
  padding-top: 0;
}
